@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  local("Open Sans"),
        url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  local("Open Sans"),
        url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* глобальные */
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
  text-align: left;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.gilroy-uppercase {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase; 
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.visually-hidden-input {
  display: none;
}

/* кнопки */
.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3.6px;

  background-color: #f0c52e;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

.services-button:active {
  color: #f7e184;
  background-color: #000000;
}

.search-button {
  font: inherit;  
  background-color: transparent;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/*хедер*/
.main-header {
  margin-top:40px;
}

.main-navigation {
  position: relative;

  display: flex;
  flex-direction: column;

  font-size: 15px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.15px;
  text-align: left;

  background-color: #f7e296;
  outline: 1px solid #8613bb;
}

.main-header-navigation {
  padding: 50px 60px 160px;
}

.main-header-logo {
  position: absolute;
  top: -20px;
  left: 59px;

  width: 163px;
  height: 35px;

  outline: 1px solid #8613bb;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.search-user-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  outline: 1px solid #8613bb;
}

.search-form input {
  font: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation,
.site-navigation,
.site-navigation-dropdown {
  list-style: none;
}

.header-user-navigation {
  display: flex;
  width: 499px;
  margin: 0;
  padding: 0;
}

.header-user-navigation li:last-child {
  margin-left: 40px;
}

.header-user-navigation li:first-child {
  margin-right: auto;
}

.header-site-navigation {
  display: flex;
  margin-top: 50px;
  padding: 0;

  outline: 1px solid #8613bb;
}

.header-site-navigation > li:nth-child(2) {
  margin-left: auto;
}

.header-site-navigation > li:nth-child(3) {
  margin-left: 38px;
}

.header-site-navigation > li:last-child {
  margin-left: 114px;
}

.site-navigation > li > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase; 
}

.header-user-navigation a,
.site-navigation a,
.site-navigation-dropdown a{
  color: #000000;
}

.site-navigation-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 551px;
  padding: 0;

  outline: 1px solid #8613bb;  
}

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation-dropdown a:hover,
.site-navigation-dropdown a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.header-user-navigation a:active,
.site-navigation a:active,
.site-navigation-dropdown a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logout-link {
  opacity: 0.3;
}

/*Слайдер*/
.promo-slider {
  margin-top: 44px;

  outline: 1px solid #8613bb;
}

.promo-slider-wrapper {
  position: relative;
}

.promo-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-item {
  display: flex;
  flex-wrap: wrap;
  height: 486px;
  padding: 0;
  margin: 0;
}

.slide {
  display: none;
}

.promo-slider-text {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  width: 502px;
}

.promo-slider-text p {
  margin: 0;
  margin-top: 20px;
}

.promo-slider-item img {
  order: -1;
}

.promo-slider-item:first-child img {
  margin-left: 90px;
  margin-right: 125px;

} 

.promo-slider-item:nth-child(2) img {
  margin-left: 113px;
  margin-right: 139px;
  
} 

.promo-slider-item:nth-child(3) img {
  margin-left: 30px;
  margin-right: 42px;
  margin-top: 65px;
  
} 

.promo-slider-text h3 {
  margin: 0;
  margin-top: 80px;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.promo-slider-text .promo-button {
  margin-top: 40px;
}

.promo-slider-properties {
  margin-top: 55px;
}

.promo-slider-properties td {
  width: 160px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  text-align: left;
  color: #000000;
}

.promo-slider-properties th {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}

.promo-slider-controls {
  position: absolute;
  bottom: 140px;
  right: 83px;
  z-index: 20;
  
  font-size: 0;
}

.promo-slider-controls label {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 21px;

  vertical-align: top;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .main-wrapper #slide1,
#product-2:checked ~ .main-wrapper #slide2,
#product-3:checked ~ .main-wrapper #slide3 {
  display: flex;
} 

#product-1:checked ~ .main-wrapper label[for="product-1"],
#product-2:checked ~ .main-wrapper label[for="product-2"],
#product-3:checked ~ .main-wrapper label[for="product-3"] {
background-color: #000000;
}

/*Категории*/
.popular {
  min-height: 238px;
  padding: 0;
  margin: 0;
  margin-top: 106px;

  outline: 1px solid #8613bb;
}

.popular-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
  margin-right: 40px;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-item h3 {
  padding: 0;
  margin: 0;
  
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

/*Сервисы*/
.services {
  width: 100%;
  min-height: 388px;
  padding: 0;
  margin: 0;
  margin-top: 84px;

  background-image: linear-gradient(to top, #e5e5e5 75%, transparent 75%);

}

.services-wrapper {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  padding-bottom: ;

  outline: 1px solid #8613bb;
}

.services-slider-butons,
.services-slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-slider-butons {
  display: flex;
  flex-direction: column;
  width: 285px;
  padding: 0;
  padding-top: 75px;
  margin: 0;

  outline: 1px solid #8613bb;
}

.services-slider-list {
  width: 876px;
  padding: 75px 66px 69px 116px;
  margin: 0;

  outline: 1px solid #8613bb;
}

.services-slider-item {
  width: 436px;
}

.services-slider-item h3 {
  padding: 0;
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.services-slider-item p {
  margin: 0;
  margin-top: 33px;
}


#service-1:checked ~ .main-wrapper #slide4,
#service-2:checked ~ .main-wrapper #slide5,
#service-3:checked ~ .main-wrapper #slide6 {
  display: block;
} 

#service-1:checked ~ .main-wrapper label[for="service-1"],
#service-2:checked ~ .main-wrapper label[for="service-2"],
#service-3:checked ~ .main-wrapper label[for="service-3"] {
background-color: green;
}

/*Партнеры*/
.partners {
  padding: 0;
  margin: 0;
  margin-top: 94px;  
}

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

/*О нас*/
.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 93px;
  padding-bottom: 96px;
  
  outline: 1px solid #8613bb;
}

.about {
  width: 490px;
}

.index-columns h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
}

.about-clients-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;

  list-style: none;
}

.about p {
  margin-bottom: 40px;
}

.about-clients-list {
  margin-bottom: 60px;
}

.about a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

/*Контакты*/
.contacts {
  width: 560px;
}

.contacts p {
  margin-bottom: 40px;
}

.contacts img {
  margin-bottom: 50px;
}

.contacts a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

/*Каталог*/
.page-title-wrapper {
  padding: 0 60px;
  margin-top: 44px;

  outline: 1px solid #8613bb;
}

.page-title {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 30px;

  list-style: none;

  outline: 1px solid #8613bb;
}

.breadcrumbs li:first-child,
.breadcrumbs li:nth-child(2) {
  margin-right: 39px;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/*Фильтры и сортировка*/
.catalog-header {
  margin-top: 49px;
  width: 100%;
  
  background-image: linear-gradient(to right, #d9d9d9 30%, #ebebeb 30%);
}

.catalog-header-wrapper {
  display: flex;


  outline: 1px solid #8613bb;
}

.filter-title {
  display: flex;
  min-width: 327px;
  padding-left: 60px;
  
  background-color: #d9d9d9;
}

.sortlist-title {
  display: flex;
  width: 833px;
  padding-left: 74px;

}
.sortlist-title p {
  margin-right: 55px;
}


.sortlist-categories {
  display: flex;
  justify-content: space-between;
  width: 286px;
  padding: 0;
  
  outline: 1px solid #8613bb;
}

.sortlist-buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

  outline: 1px solid #8613bb;
}

.catalog-wrapper {
  width: 100%;

  background-image: linear-gradient(to right, #ebebeb 30%, transparent 30%);
}

.catalog-columns {
  display: flex;
  justify-content: space-between;

  outline: 1px solid #13bb37;
}

.filters-content {
  min-width: 327px;
  padding-top: 69px;
  padding-left: 54px;
  
  background-color: #ebebeb;

  outline: 1px solid #8613bb;
}

.filter-fieldset {
  border: none;
}

.filter-legeng {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  text-align: left;
}

.filter-options-list {
  padding: 0;

  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  list-style: none;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.sortlist-categories,
.sortlist-buttons {
  list-style: none;
}

.sortlist-categories a,
.sortlist-buttons a {
  font-size: 14px;
  line-height: 18px;
}

.sortlist-categories a {
  color: rgba(0, 0, 0, 0.3);
}

.sortlist-categories a:hover,
.sortlist-categories a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sortlist-categories a:active {
  color: #000000;
}

.sortlist-buttons a {
  color: rgba(35, 31, 32, 0.2);
}

.sortlist-buttons a:hover,
.sortlist-buttons a:focus {
  color: rgba(35, 31, 32, 0.4);
}

.sortlist-buttons a:active {
  color: rgb(35, 31, 32);
}

/*Карточки товаров*/
.catalog-content {
  padding-top: 69px;
  padding-bottom: 75px;
  padding-left: 73px;

  outline: 1px solid #8613bb;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;

  outline: 1px solid #8613bb;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 49px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.catalog-item-compare {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item-compare:hover,
.catalog-item-compare:focus {
  color: #000000;
}

.catalog-item-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/*пагинация*/
.pagination-list {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  margin: 0;
  margin-top: 41px;

  list-style: none;
  background-color: #ebebeb;

  outline: 1px solid #8613bb;
}

.pagination-page-number {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page-number:hover,
.pagination-page-number:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page-number:active,
.pagination-current {
  color: #000000;
}

.pagination-previous:hover,
.pagination-previous:focus,
.pagination-next:hover,
.pagination-next:focus {
  background-color: #d9d9d9;
}

.pagination-previous:active,
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ebebeb;
}

.pagination-next {
  text-align: right;
}

/*Футер*/
.main-footer {
  padding: 65px 0;

  width: 100%;
  background-color: #464646;
}

.first-line-wrapper {
  display: flex;
  justify-content: space-between;

  outline: 1px solid #8613bb;
}

.footer-user-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 330px;
  margin-top: 0;

  outline: 1px solid #8613bb;
}

.main-footer-logo {
  width: 163px;
  height: 35px;

  outline: 1px solid #8613bb;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 60%;
}

.main-footer-logo:active {
  opacity: 30%;
}

.main-footer-navigation {
  color: #ffffff;

  background-color: #464646;
}

.footer-user-navigation,
.footer-site-navigation,
.social-list {
  list-style: none;
}

.footer-site-navigation a,
.social-list a {
  color: #ffffff;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: #ffffff;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation a:active,
.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-logout-link {
  opacity: 0.3;
}

.second-line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;

  outline: 1px solid #8613bb;
}

.second-line-wrapper p:first-child {
  margin-right: auto;
}

.second-line-wrapper p:last-child {
  margin-left: auto;
}

.footer-site-navigation {
  display: flex;
  padding: 0;

  outline: 1px solid #8613bb;
}

.footer-site-navigation li:nth-child(1),
.footer-site-navigation li:nth-child(2) {
  margin-right: 38px;
}

.third-line-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  outline: 1px solid #8613bb;
}

.yellow-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  display: flex;
  justify-content: center;

  outline: 1px solid #8613bb;
}

.social-list li:nth-child(1),
.social-list li:nth-child(2) {
  margin-right: 23px;
}

.social-list a {
  opacity: 0.3;
}

.social-list a:hover,
.social-list a:focus {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.main-logo-html:hover,
.main-logo-html:active {
  opacity: 0.6;
}

.main-logo-html:active {
  opacity: 0.3;
}

/*модалки*/
.modal {
  display: none;
}