@keyframes bounce {
  0% {
    transform: translateY(-500%);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  local("Open Sans"),
        url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  local("Open Sans"),
        url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* глобальные */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
  text-align: left;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.gilroy-uppercase {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase; 
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);

} 

.visually-hidden-normal {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  opacity: 0;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

}

.visually-hidden-input {
  display: none;
}

/* кнопки */
.button {
  position: relative;
  z-index: 2;

  display: inline-block;
  width: 220px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3.6px;
  cursor: pointer;

  background-color: transparent;
  border: none;
}

.button::before{
  content: "";

  position: absolute;
  z-index: -1;
  top: 16px;
  left: 0;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  transition-duration: 0.5s;
}

.index-columns .button {
  width: 260px;
}

.button:hover::before,
.button:focus::before {
  cursor: pointer;

  transform: scaleY(5);
}

.button:active {
  cursor: pointer;

  color: rgba(0, 0, 0, 0.3);
  background-image: none;
  background-color: #f0c52e;
}

/*хедер*/
.main-header {
  margin-top: 40px;
}

.main-navigation {
  position: relative;

  display: flex;
  flex-direction: column;

  font-size: 15px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.15px;
  text-align: left;

  background-color: rgba(240,197,46, 0.5);
}

.main-header-navigation {
  padding: 34px 60px 163px;
}

.main-header-logo {
  position: absolute;
  top: -17px;
  left: 60px;

  width: 163px;
  height: 35px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.search-user-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.search-form {
  position: relative;

  width: 461px;
}

.search-form input {
  width: 356px;
  height: 49px;
  margin: 0;
  padding-left: 38px;

  font: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
  outline: none;
}

.search-form::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-button {
  position: relative;

  width: 85px;
  height: 49px;
  margin: 0;
  padding: 0;

  font: inherit;  

  background-color: transparent;
  border: 2px solid #000000;
  opacity: 0;
}

.search-button::before {
  content: "";

  position: absolute;
  bottom: -2px;
  right: 0;

  width: 441px;
  border-bottom: 2px solid #000000;
}

.search-form input:focus + .search-button,
.search-form input:active + .search-button {
  opacity: 1;
} 

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus {
  opacity: 1;
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation,
.site-navigation,
.site-navigation-dropdown {
  padding: 0;
  margin: 0;

  list-style: none;
}

.header-user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 505px;
  margin: 0;
  padding: 0;
}

.header-user-navigation li:first-child {
  margin-right: auto;
}

.header-user-navigation .logout-link {
  margin-right: 50px;
}

.header-user-navigation li:last-child {
  margin-left: 35px;
}

.header-user-navigation .login-link, 
.header-user-navigation .compare-link,
.header-user-navigation .cart-link {
  position: relative;

  padding-left: 30px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 5px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 10px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 6px;
  
  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logout-link {
  opacity: 0.3;
}

.header-site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0;
}

.header-site-navigation li:first-child {
  position: relative;
}

.header-site-navigation > li:nth-child(2) {
  margin-left: auto;
}

.header-site-navigation > li:nth-child(3) {
  margin-left: 35px;
}

.header-site-navigation > li:last-child {
  margin-left: 105px;
}

.site-navigation li {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase; 
}

.header-user-navigation a,
.site-navigation a,
.site-navigation-dropdown a{
  color: #000000;
}

.header-site-navigation .catalog-link {
  position: relative;
  padding-right: 30px;
}

.header-site-navigation .catalog-link::after {
  content: "";

  position: absolute;
  top: 3px;
  right: 0px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-navigation-dropdown {
  position: absolute;
  left: -60px;
  top: 20px;
  z-index: 50;

  display: none;
  width: 1160px;
  min-height: 167px;
  margin: 0;
  padding: 0 60px;

  background-color: #f7e296;
}

.site-navigation-catalog:hover .site-navigation-dropdown {
  display: block;
}

.site-navigation-dropdown-wrapper {
  z-index: 60;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding-top: 25px;
  width: 551px;
}

 .site-navigation-dropdown-item {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-transform: none;
  letter-spacing: 0.15px;
} 

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation-dropdown a:hover,
.site-navigation-dropdown a:focus{
  opacity: 0.6;
}

.header-user-navigation a:active,
.site-navigation a:active,
.site-navigation-dropdown a:active {
  opacity: 0.3;
}

.inner-page .main-header-navigation {
  padding-bottom: 50px;
}

/*Слайдер*/
.promo-slider {
  margin-top: -110px;
}

.promo-slider-wrapper {
  position: relative;
}

.promo-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 486px;
  padding: 0;
  margin: 0;
}

.slide {
  display: none;
}

.promo-slider-text {
  width: 508px;
}

.promo-slider-text p {
  margin: 0;
  margin-top: 20px;
  max-width: 485px;

  letter-spacing: 0.15px;
}

.promo-slider-item:nth-child(2) p {
  max-width: 445px;
}

.promo-slider-item:nth-child(3) p {
  max-width: 455px;
}

.promo-slider-item img {
  order: -1;
}

.promo-slider-item:first-child img {
  margin-left: 90px;
  margin-right: 125px;
} 

.promo-slider-item:nth-child(2) img {
  margin-left: 113px;
  margin-right: 141px;
} 

.promo-slider-item:nth-child(3) img {
  margin-left: 30px;
  margin-right: 43px;
  margin-top: 65px;
} 

.promo-slider-text h3 {
  position: relative;
  z-index: 2;

  margin: 0;
  margin-top: 78px;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.promo-slider-item h3::before {
  content: "";

  position: absolute;
  top: -42px;
  left: 0;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-slider-item:first-child h3::after {
  content: "01";

  position: absolute;
  top: -93px;
  right: -7px;
  z-index: -1;

  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;

  background-color: transparent;
}

.promo-slider-item:nth-child(2) h3::after {
  content: "02";

  position: absolute;
  top: -95px;
  right: 0;
  z-index: -1;

  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;

  background-color: transparent;
}

.promo-slider-item:nth-child(3) h3::after {
  content: "03";

  position: absolute;
  top: -95px;
  right: 0;
  z-index: -1;

  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;

  background-color: transparent;
}

.promo-slider-text .promo-button {
  margin-top: 42px;
}

.promo-slider-properties {
  margin-top: 48px;
}

.promo-slider-properties td {
  width: 160px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  text-align: left;
  color: #000000;
}

.promo-slider-properties td:first-child {
  width: 158px;
}

.promo-slider-properties td:nth-child(2) {
  width: 137px;
}

.promo-slider-properties th {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}

.promo-slider-controls {
  position: absolute;
  bottom: 130px;
  right: 65px;
  z-index: 20;
  
  font-size: 0;
}

.promo-slider-controls label {
  position: relative;

  display: inline-block;

  width: 12px;
  height: 12px;
  margin-right: 20px;

  vertical-align: top;
  cursor: pointer;
  user-select: none;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-1:checked ~ .main-wrapper #slide1,
#product-2:checked ~ .main-wrapper #slide2,
#product-3:checked ~ .main-wrapper #slide3 {
  display: flex;
} 

#product-1:checked ~ .main-wrapper label[for="product-1"],
#product-2:checked ~ .main-wrapper label[for="product-2"],
#product-3:checked ~ .main-wrapper label[for="product-3"] {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Категории*/
.popular {
  min-height: 240px;
  padding: 0;
  margin: 0;
  margin-top: 105px;
}

.popular-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
  padding-top: 190px;
  margin-right: 40px;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-item a {
  position: relative;
}

.popular-item h3 {
  padding: 0;
  margin: 0;
  
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.popular-item h3:active {
  opacity: 0.3;
}  

.popular-item a:active > h3 {
  opacity: 0.3;
}

.popular-item a::after {
  content: "";

  position: absolute;
  top: -190px;
  left: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
}

.popular-item a::before {
  content: "";

  position: absolute;
  top: -190px;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: rgba(240,	197, 46, 0.5);
  background-repeat: no-repeat;
}

.popular-item:first-child a::after {
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px; 
}

.popular-item:nth-child(2) a::after {
  background-image: url("../img/popular-2.svg");
  background-position: 38px 41px; 
}

.popular-item:nth-child(3) a::after {
  background-image: url("../img/popular-3.svg");
  background-position: 49px 38px; 
}

.popular-item:nth-child(4) a::after {
  background-image: url("../img/popular-4.svg");
  background-position: 28px 50px; 
}

.popular-item:nth-child(5) a::after {
  background-image: url("../img/popular-5.svg");
  background-position: 55px 32px; 
}

.popular-item:last-child a::after {
  background-image: url("../img/popular-6.svg");
  background-position: 13px 49px; 
}

.popular-item a:hover::before,
.popular-item a:focus::before {
  background-color: rgb(240,	197, 46);
}

.popular-item a:active::before {
  background-color: rgb(240,	197, 46);
}  

.popular-item a:active::after {
  opacity: 0.3;
}


/*Сервисы*/
.services {
  position: relative;

  overflow: hidden;

  width: 100%;
  min-height: 386px;
  padding: 0;
  margin: 0;
  margin-top: 82px;
}

.services::before {
  content: "";

  position: absolute;
  top: 100px;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #e5e5e5;
}

.services-wrapper {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 69px;
}

.services-slider-butons,
.services-slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-slider-butons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 285px;
  min-height: 319px;
  padding: 80px 0 44px 0;
  margin: 0;

  border-right: 7px solid #000000;
}

.services-slider-butons li {
    margin-bottom: 24px;
    width: 100%;
}

.services-slider-list {
  width: 875px;
  padding: 73px 55px 75px 117px;
  margin: 0;
}

.services-button {
  padding-left: 0;
  padding-right: 0;
  width: 160px;

  cursor: pointer;
}

.services-slider-item {
  position: relative; 

  margin: 0;
  width: 436px;
}

.services-slider-item h3 {
  padding: 0;
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.services-slider-item p {
  margin: 0;
  margin-top: 33px;

  letter-spacing: 0.15px;
}

.services-slider-item:first-child::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 556px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

.services-slider-item:nth-child(2)::before{
  content: "";

  position: absolute;
  top: -15px;
  left: 530px;

  width: 171px;
  height: 194px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

.services-slider-item:nth-child(3)::before {
  content: "";

  position: absolute;
  top: 0;
  left: 525px;

  width: 156px;
  height: 186px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

#service-1:checked ~ .main-wrapper #slide4,
#service-2:checked ~ .main-wrapper #slide5,
#service-3:checked ~ .main-wrapper #slide6 {
  display: block;
} 

.services-slider-butons li:active,
#service-1:checked ~ .main-wrapper .service-slide-1,
#service-2:checked ~ .main-wrapper .service-slide-2,
#service-3:checked ~ .main-wrapper .service-slide-3 {
  background-color: #000000;
}

.services-button:active,
#service-1:checked ~ .main-wrapper label[for="service-1"],
#service-2:checked ~ .main-wrapper label[for="service-2"],
#service-3:checked ~ .main-wrapper label[for="service-3"] {
  color:  #f7e184;
  background-image: none; 
  background-color: #000000; 
} 

.services-button:active::before,
#service-1:checked ~ .main-wrapper label[for="service-1"]::before,
#service-2:checked ~ .main-wrapper label[for="service-2"]::before,
#service-3:checked ~ .main-wrapper label[for="service-3"]::before {
  display: none;
}

/*Партнеры*/
.partners {
  padding: 0;
  margin: 0;
  margin-top: 93px;  
}

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.partners-item-logo {
  position: relative;
}

.partners-item a:hover::before {
  content: "";

  position: absolute;
  bottom: 4px;
  left: 0;
  
  width: 260px;
  height: 100px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.partners-item:nth-child(1) a:hover::before {
  background-image: url("../img/logo-1-dji.jpg");
}

.partners-item:nth-child(2) a:hover::before {
  background-image: url("../img/logo-2-sp-gates.jpg");
}

.partners-item:nth-child(3) a:hover::before {
  background-image: url("../img/logo-3-gopro.jpg");
}

.partners-item:nth-child(4) a:hover::before {
  background-image: url("../img/logo-4-vive.jpg");
}


/*О нас*/
.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 87px;
  padding-bottom: 82px;
}

.about {
  width: 490px;
}

.index-columns h2 {
  position: relative;

  margin: 0;
  padding: 50px 0 43px 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
}

.index-columns h2::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about p {
  margin: 0;
  margin-bottom: 30px;
  width: 472px;
}

.about-clients-list {
  padding-left: 35px;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 55px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;

  list-style: none;
}

.about-clients-list li {
  position: relative;
}

.about-clients-list li::before {
  content: "";

  position: absolute;
  top: 16px;
  left: -33px;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

/*Контакты*/
.contacts {
  width: 560px;
}

.contacts > p {
  margin: 0;
  margin-bottom: 39px;
}

.contacts img {
  margin-bottom: 45px;
}

.contacts a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

/*Каталог*/
.page-title-wrapper {
  padding: 0 60px;
  margin-top: 35px;
}

.page-title {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 25px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 39px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current::after {
  display: none;
}

/*Фильтры и сортировка*/
.catalog-header {
  margin-top: 46px;
  width: 100%;
  
  background-image: linear-gradient(to right, #d9d9d9 30%, #ebebeb 30%);
}

.catalog-header-wrapper {
  display: flex;
}

.filter-title {
  display: flex;
  min-width: 327px;
  padding-left: 60px;
  
  background-color: #d9d9d9;
}

.filter-title p {
  margin: 23px 55px 23px 0;

  font-size: 16px;
}

.sortlist-title {
  display: flex;
  width: 833px;
  padding-left: 74px;

}
.sortlist-title p {
  margin: 23px 50px 23px 0;

  font-size: 16px;
}

.sortlist-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 390px;
  padding: 0;
  margin: 0;
}

.sortlist-categories li {
  margin-right: 30px;
}

.sortlist-categories li:last-child {
  margin-right: 0;
}

.sortlist-categories,
.sortlist-buttons {
  list-style: none;
}

.sortlist-categories a,
.sortlist-buttons a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.sortlist-categories a {
  opacity: 0.3;
}

.sortlist-categories a:hover,
.sortlist-categories a:focus {
  opacity: 0.6;
}

.sortlist-categories a:active, 
.sortlist-categories a.selected {
  opacity: 1;
}

.sortlist-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
  margin-left: auto;
}

.sortlist-buttons a {
  position: relative;
}

.sortlist-buttons .sortlist-up::before {
  content: "";

  position: absolute;
  right: 30px;

  width: 11px;
  height: 20px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sortlist-buttons .sortlist-down::before {
  content: "";

  position: absolute;
  right: 0;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sortlist-buttons .sortlist-up:hover::before, 
.sortlist-buttons .sortlist-down:hover::before,
.sortlist-buttons .sortlist-up:focus::before, 
.sortlist-buttons .sortlist-down:focus::before {
  opacity: 0.4;
}

.sortlist-buttons .sortlist-up:active::before, 
.sortlist-buttons .sortlist-down:active::before {
  opacity: 1;
}

.catalog-wrapper {
  width: 100%;

  background-image: linear-gradient(to right, #ebebeb 30%, transparent 30%);
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters-content {
  min-width: 327px;
  padding: 70px 65px 0 60px;
  
  background-color: #ebebeb;
}

.filter-fieldset-wrapper {
  border-top: 2px solid #000000;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.filter-fieldset-wrapper:nth-child(2) {
  padding-bottom: 29px;
}

.filter-fieldset-wrapper:nth-child(3) {
  padding-bottom: 29px;
}
 
.filter-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-legeng {
  padding-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  text-align: left;
}

.filter-options-list {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  list-style: none;
  color: #000000;
}

.range-filter {
  width: 201px;
}

.range-controls {
  position: relative;

  height: 22px;
  padding-left: 5px;
  padding-top: 15px;

  background-color: transparent;
}

.range-controls .scale {
  width: 196px;
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 56%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 5px;
  left: 0;

  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;

  cursor: pointer;
}

.range-controls .toggle:active {
  border: 10px solid #ffffff;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 105px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  opacity: 0.2;
  vertical-align: top;
}

.price-controls input {
  width: 50px;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #000000;

  border: none;
  background-color: transparent;
}

.price-controls input[name="min-price"] {
  margin-left: -13px;
}

.price-controls .min-price {
  margin-right: 20px;
}

.filter-option {
  padding: 0;
  padding-left: 40px;
  margin: 0;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  
  position: absolute;
  left: -40px;
  top: 7px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  left: -40px;
  top: 7px;

  width: 27px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -40px;
  top: 7px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  left: -40px;
  top: 7px;

  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filter-input:hover + label,
.filter-input:focus + label {
  opacity: 0.6;
}

.filter-input:active + label {
  opacity: 1;
}

.filter-button {
  width: 200px;
}

/*Карточки товаров*/
.catalog-content {
  padding-top: 29px;
  padding-bottom: 75px;
  padding-left: 73px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 40px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:last-child::before {
  content: "";

  position: absolute;
  top: 28px;
  right: 27px;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: solid 2px #000000;
  opacity: 0.1;
}

.catalog-item:last-child::after {
  content: "new";

  position: absolute;
  top: 47px;
  right: 39px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;

  opacity: 0.2;
}


.catalog-item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  order: 1;
} 

.catalog-item-info h3 {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  max-width: 256px;

  font: inherit;
}

.catalog-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-item-price {
  margin: 0;
  margin-left: 25px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.catalog-item-hover {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 379px;
}

.catalog-item-hover .button { 
  opacity: 0;
}

.catalog-item-hover .button:hover,
.catalog-item-hover .button:focus { 
  opacity: 1;
}

.catalog-item-compare {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);

  opacity: 0;
}

.catalog-item-compare:hover,
.catalog-item-compare:focus {
  opacity: 1;
  color: #000000;
}

.catalog-item-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-hover:hover,
.catalog-item-hover:focus {
  opacity: 1;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-hover:hover *,
.catalog-item-hover:focus * {
  opacity: 1;
}

/*пагинация*/
.pagination-list {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0;

  list-style: none;

  background-color: #ebebeb;
}

.pagination-list a {
  font-size: 16px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-item a {
  display: block;
  padding: 24px 28px;
} 

.pagination-page-number-list {
  display: flex;
  min-width: 88px;
  padding: 21px 0px 16px 45px;
}

.pagination-page-number-list div {
  margin-right: 28px;
}

.pagination-page-number {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page-number:hover,
.pagination-page-number:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page-number:active,
.pagination-current {
  color: #000000;
}

.pagination-previous:hover,
.pagination-previous:focus,
.pagination-next:hover,
.pagination-next:focus {
  background-color: #d9d9d9;
}

.pagination-previous:active,
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-next {
  text-align: right;
}

/*Футер*/
.main-footer {
  padding: 65px 0;
  width: 100%;

  background-color: #464646;
}

.main-footer-navigation {
  color: #ffffff;

  background-color: #464646;
}

.first-line-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-user-navigation,
.footer-site-navigation,
.social-list {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.main-footer-logo {
  width: 163px;
  height: 35px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 60%;
}

.main-footer-logo:active {
  opacity: 30%;
}

.footer-user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 485px;
  margin-top: 0;
}

.footer-user-navigation li {
  margin-right: 37px;
}

.footer-user-navigation .login-link-item {
  margin-right: 15px;
}

.footer-user-navigation li:last-child {
  margin: 0;
}

.footer-user-navigation .login-link, 
.footer-user-navigation .compare-link,
.footer-user-navigation .cart-link {
  position: relative;
  padding-left: 27px;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
} 

.footer-logout-link {
  opacity: 0.3;
}

.footer-login-link::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare-link::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 7px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-cart-link::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 7px;
  
  width: 12px;
  height: 12px;

  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: #ffffff;
  opacity: 1;
}

.footer-user-navigation a:hover::before,
.footer-user-navigation a:focus::before {
  opacity: 0.6;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

.footer-site-navigation a,
.social-list a {
  color: #ffffff;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  opacity: 0.6;
}

.footer-site-navigation a:active {
  opacity: 0.3;
}

.second-line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 17px;
}

.second-line-wrapper a {
  text-decoration: none;
  color: #ffffff;
}


.second-line-wrapper p:first-child {
  margin: 0;
  margin-right: 160px;
}

.second-line-wrapper p:last-child {
  margin-left: auto;
}

.footer-site-navigation {
  display: flex;
  padding: 0;
}

.footer-site-navigation li:nth-child(1),
.footer-site-navigation li:nth-child(2) {
  margin-right: 34px;
}

.third-line-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.yellow-line {
  margin-top: 16px;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 194px;
}

.social-list li:nth-child(1),
.social-list li:nth-child(2) {
  margin-right: 23px;
}

.social-list a {
  opacity: 0.3;
}

.social-list a:hover,
.social-list a:focus {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.main-logo-html:hover,
.main-logo-html:active {
  opacity: 0.6;
}

.main-logo-html:active {
  opacity: 0.3;
}

/*модалки*/
.modal {
  position: fixed;
  top: 15%;
  left: 50%;

  display: none; 
  margin-left: -480px;
  
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
} 

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-feedback {
  z-index: 80;

  padding: 95px 100px 80px 100px;
  width: 960px;
  height: 553px;
  background-color: #ffffff;
}

.feedback-field-wrapper {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 35px;
}

.feedback-form-group {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  margin-bottom: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  padding: 17px 20px 19px 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  background-color: #f2f2f2;
  border: none;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  height: 50px;
  width: 360px;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  color: #464646;

  background-color: #ffffff;

  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.feedback-form input[type="email"]:invalid {
  background-color: #f6dada;
}

.feedback-form textarea {
  width: 760px;
  height: 156px;

  resize: none;
}

.modal-map {
  z-index: 80;

  width: 960px;
  height: 559px;
  background-color: #ffffff;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px; 
  z-index: 3;

  width: 55px;
  height: 55px;
  
  font-size: 0;

  background-image: url("../img/modal-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  opacity: 0.5;
} 

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}